---
import Layout from "@layouts/Layout.astro";

const pageMeta = {
  title: "Ubuntu Touch • Linux mobile OS that gives you pure freedom",
  meta: [
    {
      name: "keywords",
      content: "Linux phone, Ubuntu Phone, Open Source Phone"
    },
    {
      name: "description",
      content:
        "Ubuntu Touch is the open source phone that has freedom and privacy in mind. Supported by dozens of devices, with installer for FOSS fans"
    },
    {
      property: "og:url",
      content: "https://devices.ubuntu-touch.io"
    },
    {
      property: "og:title",
      content: "Ubuntu Touch • Linux Phone"
    },
    {
      property: "og:description",
      content:
        "Ubuntu Touch is the open source phone that has freedom and privacy in mind. Supported by dozens of devices, with installer for FOSS fans"
    }
  ]
};
---

<Layout pageMeta={pageMeta}>
  <main>
    <h1>New UBports website: test page</h1>
  </main>
</Layout>
